@import "reset.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 定义主题颜色 */
@theme {
    --color-primary: red; /* 亮色主题下的主要背景色，例如白色 */
    --color-secondary: 240 240 240;
    --color-accent: 59 130 246;
    --color-text: 51 51 51;
    --color-background: 255 255 255;

}
/* 暗色主题变量 */
.dark {
    --color-primary:  blue;
    --color-secondary: 45 55 72;
    --color-accent: 99 179 237;
    --color-text: 226 232 240;
    --color-background: 26 32 44;
}
